.thumbnails {
      width: 100px;
      margin-left: 1rem;
      position: relative;
}
.thumbnails > div {
      width: 100%;
      height: 100px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      
}



.thumbnails img {
      display: block;
      width: 100%;
      height: 100px;
      filter: grayscale(100%);
}

.active_thumb {
      filter: grayscale(0);
}

.controls {
      position: absolute;
      z-index: 2;
      width: 100px;
      height: 100%;
}

.next,
.prev {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      z-index: 1000;
}

.next {
      top: 5px;
}

.prev {
      bottom: 5px;
}
